* {
  margin: 0;
  padding: 0;

  --bg-color: #001C30;
  --second-color: #176B87;
  --third-color: #64CCC5;
  --color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans-serif;
  min-width: 250px;
  text-align: center;
}

h1 {
  margin: 20px auto;
}

input[type="text"] {
  width: 70%;
  max-width: 800px;
  font-size: 16pt;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}

button.add-btn {
  margin: 5px 3px;
  width: 48px;
  height: 46px;
  border: none;
  border-radius: 5px;
  color: var(--color);
  background-color: var(--second-color);
}

button.add-btn:hover {
  background-color: var(--third-color);
}

ul {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

li {
  text-align: start;
  padding: 10px 0px 10px 50px;
  background-color: var(--second-color);
  list-style: none;
}

li:hover {
  background-color: var(--third-color);
  color: var(--bg-color);
}

.checked {
  text-decoration: line-through;
  filter: brightness(85%);
}

/* mark checked */
.checked::before {
  content: "";
  position: absolute;
  border-color: var(--color);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.delete {
  float: right;
  margin: 0;
  padding: 12px ;
  color: white;
  background-color: var(--second-color);
  border: none;
}

.delete:hover {
  background-color: red;
}